{
  "printWidth": 100,
  "singleQuote": true,
  "plugins": ["prettier-plugin-organize-imports"],
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
